{% extends 'base.html' %}

{% block title %}Магазин{% endblock %}

{% block content %}

<nav class="pl-4 m-5">
    <a  class="btn btn-primary" href="{{url_for('home')}}">Головна</a>
    <a  class="btn btn-primary" href="{{url_for('service')}}">Послуги</a>
    <a  class="btn btn-primary" href="{{url_for('blog')}}">Блог</a>
	<a  class="btn btn-primary" href="{{url_for('shop')}}">Магазин</a>
</nav>

<style>
body {
			background-color:#154c79;
			color: white;}

nav {text-align: center;
}

    img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);

}
        }
</style>

<title>Таро магазинчик</title>

<ul>{% for product in products %}
        <div class="d-flex  p-4" style="align-items: flex-start;" >
        <img src="{{ product[1] }}" width="200">
        <div style="margin-left: 20px;">
<h2 style="display: block;">{{ product[2] }}</h2>
<p style="display: block;">{{ product[3] }}</p>
<p style="display: block;">Ціна: {{ product[4] }}грн</p>
<div class="btn">
<a class=" btn btn-info " style="display: block;" href="{{url_for('form_buy')}}">Купити</a>
</div>
</div>
        </div>
     {% endfor %}
</ul>

{%endblock%}